<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de gestión</title>
     <link rel="stylesheet" href="/styles.css">
     <link rel="icon" type="image/png" href="/assets/logo.png">
</head>
<body class="body-nh">
     <nav>
    <div class="logo">
      <a href="/index.html"><img src="/assets/logo.png" alt="Logo"></a>
    </div>
    <div class="menu">
      <div class="dropdown" id="dropdown">
        <button class="dropdown-btn">▼</button>
        <div class="dropdown-content">
          <a href="/index.html">Inicio</a>
        </div>
        <div class="dropdown-content">
          <a href="/views/nuestrahistoria.html">Nuestra Historia</a>
        </div>
      </div>
    </div>
  </nav>
 
    <h1>Selecciona una Opción:</h1>
  
   <div class="cards-container-fa">
    <div class="card-fa">
        <img src="/assets/gestion.png" alt="Logo 1" class="card-logo">
        <h2>Sistema de Gestión</h2>
        <p>Gestión integral de la Escuela de Suboficiales y Agentes. <br> Control de cursantes, materias, asistencia y novedades.</p>
        <button class="btn" data-color="violet"><span class="dot"></span> <a class="a-home" href="/views/sistemadegestion.html">Acceder</a></button>
    </div>

    <div class="card-fa">
        <img src="/assets/aulavirtual.png" alt="Logo 2" class="card-logo">
        <h2>Aula Virtual</h2>
        <p>Plataforma destinada a los cursantes para brindarles <br>recursos digitales<br>educativos. </p>
         <button class="btn" data-color="violet"><span class="dot"></span> <a class="a-home" href="/views/aulavirtual.html">Acceder</a></button>
    </div>
</div>

    <footer>
    &copy; 2025 Sistema Web de Gestión - Escuela de suboficiales y agentes "Agente Juan José Vides"  </footer>
   
  <script src="/scripts.js"></script> 
</body>
</html>

// 