<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Divisiones</title>
     <link rel="stylesheet" href="/styles.css">
     <link rel="icon" type="image/png" href="/assets/logo.png">
</head>
<body class="body">
     <nav>
    <div class="logo">
      <a href="/index.html"><img src="/assets/logo.png" alt="Logo"></a>
    </div>
    <div class="menu">
      <div class="dropdown" id="dropdown">
        <button class="dropdown-btn">▼</button>
        <div class="dropdown-content">
          <a href="/index.html">Inicio</a>
        </div>
        <div class="dropdown-content">
          <a href="/views/nuestrahistoria.html">Nuestra Historia</a>
        </div>
      </div>
    </div>
  </nav>
  
    <h1>Selecciona la División a la que Quieres Acceder:</h1>

<div class="cards-container"> 
    <a href="/views/formacionagentes.html" class="card-fa-sg">
  <img src="/assets/cuerpo.png" alt="Logo 1" class="card-logo">
  <h2>División Cuerpo</h2>
</a>

     <a href="/views/formacionagentes.html" class="card-fa-sg">
  <img src="/assets/jefaturadeestudio.png" alt="Logo 1" class="card-logo">
  <h2>Jefatura de Estudio</h2>
</a>
     <a href="/views/formacionagentes.html" class="card-fa-sg">
  <img src="/assets/enfermeria.png" alt="Logo 1" class="card-logo">
  <h2>Enfermería</h2>
</a>
     <a href="/views/formacionagentes.html" class="card-fa-sg">
  <img src="/assets/ayudantia.png" alt="Logo 1" class="card-logo">
  <h2>Ayudantía</h2>
</a>
</div>

<br>

    <footer>
    &copy; 2025 Sistema Web de Gestión - Escuela de suboficiales y agentes "Agente Juan José Vides"  </footer>
   
  <script src="/scripts.js"></script> 
</body>
</html>

